body {
  max-width: 1440px;
  margin: 0 auto;
  background: #FAF8F5;

  font-family: 'Satoshi', sans-serif;
}

header {
  width: 84.44%;
  height: 80px;
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  width: 378.58px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 133.58px;
  height: 32px;
}

#logo-image {
  width: 100%;
}

.navbar-items-container {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar-items {
  cursor: pointer;
  color: #1B1C20;
}

.header-buttons {
  width: 187px;
  height: 44px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login-button {
  font-family: 'Satoshi', sans-serif;

  width: 82px;
  color: #1B1C20;
}

#signup-button {
  font-family: 'Satoshi', sans-serif;

  width: 93px;
  border-radius: 8px;

  color: #FFFFFF;
  background-color: #0F0F14;
}

#hero-section {
  width: 84.44%;
  height: 767.5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 64px;
}

.hero-left-container {
  width: 489px;

  display: flex;
  flex-direction: column;
}

#discount-button {
  width: 265px;
  height: 32px;
  border-radius: 16px;

  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;

  display: flex;
  justify-content: space-between;
  align-items: center;


  background: #F9F5FF;
  color: #6941C6;
}

.discount-new {
  width: 55px;
  height: 24px;
  border-radius: 16px;

  text-align: center;

  background: #FFFFFF;

  margin-left: 4px;
}

.discount-phrase {
  margin-left: 12px;
  margin-right: 7.33px;
}

.hero-content {
  height: 261px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  margin-top: 16px;
}

.hero-content h3 {
  color: #1B1C20;

  height: 177px;

  font-size: 44px;
  font-weight: 700;
  line-height: 59.4px;
}

.hero-content p {
  color: #383A47;

  font-size: 20px;
  font-weight: 400;
  line-height: 30px;

  margin-top: 24px;
}

.blue-letters {
  color: #712FFF;
}

.hero-store-buttons {
  width: 372.2px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  margin-top: 32px;
}

main {
  width: 100%;
  background: #FFFFFF;
}

#partners {
  width: 100%;
  height: 183.66px;
}

.partners-container {
  width: 100%;
  height: 83.66px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.partners-text {
  color: #797B89;
  
  height: 28px;

  font-size: 15px;
  font-weight: 500;

  letter-spacing: -0.09px;
  line-height: 27.18px;
}

.partners-logos {
  width: 88.88%;
  height: 36.66px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}