body {
  max-width: 1440px;
  margin: 0 auto;
  background: #FAF8F5;

  font-family: 'Satoshi', sans-serif;
}

header {
  width: 84.44%;
  height: 80px;
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  width: 378.58px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-items-container {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar-items {
  cursor: pointer;
  color: #1B1C20;
}

.header-buttons {
  width: 187px;
  height: 44px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login-button {
  width: 82px;
  color: #1B1C20;
}

#signup-button {
  width: 93px;
  border-radius: 8px;
  background-color: #0F0F14;
}

#hero-section {
  width: 84.44%;
  height: 607.5px;

  margin-top: 64px;
}

.hero-left-container {
  width: 579.25px;

  display: flex;
  flex-direction: column;
}

.discount-button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 265px;
  height: 32px;
  border-radius: 16px;

  background: #F9F5FF;
  color: #6941C6;
}

.discount-new {
  width: 55px;
  height: 24px;
  border-radius: 16px;

  text-align: center;

  background: #FFFFFF;

  margin-left: 4px;
}

.discount-phrase {
  margin-left: 12px;
  margin-right: 7.33px;
}


main {
  width: 100%;
  background: #FFFFFF;
}