#features {
  width: 100%;
  height: 962.3px;
}

#features-main-container {
  margin-top: 96px;

  width: 88.88%;
  height: 770.3px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#features-title-container h4 {
  color: #1B1C20;

  width: 708.64px;
  height: 58px;

  font-weight: 500;
  font-size: 43px;
  line-height: 58.05px;
  letter-spacing: -1.82px;

  text-align: center;
}

#features-content-container {
  width: 100%;
  height: 660.3px;

  display: flex;
  justify-content: space-between;
}

#features-left {
  width: 844.5px;

  display: flex;
  flex-wrap: wrap;
  gap: 28.35px;
}

#features-right {
  width: 408.03px;
  height: 660.3px;
}

.cards {
  width: 407px;
  height: 316px;
  border-radius: 23.84px;

  box-shadow: 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01), 0px 99.3206px 174.804px rgba(68, 55, 0, 0.02), 0px 45.6875px 80.4497px rgba(68, 55, 0, 0.01), 0px 25.8233px 45.6875px rgba(68, 55, 0, 0.01), 0px 15.8913px 27.8098px rgba(68, 55, 0, 0.01), 0px 8.93885px 16.8845px rgba(68, 55, 0, 0.01), 0px 5.95923px 8.93885px rgba(68, 55, 0, 0.01), 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01);

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  margin-top: 39.73px;
}

.card-title {
  color: #1B1C20;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  text-align: center;
}

.card-description {
  color: #797B89;

  font-family: 'Inter';
  font-weight: 400;
  font-size: 15.8913px;
  line-height: 27px;

  text-align: center;

  letter-spacing: -0.09px;
}

.card-1 {
  width: 276.95px;
  height: 256.57px;
}

.card-2 {
  width: 299.57px;
  height: 236.17px;
}

.card-3 {
  width: 233.66px;
  height: 236.73px;
}

.card-4 {
  width: 267.84px;
  height: 236.16px;
}

.card-5 {
  width: 300px;
  height: 495.27px;
}

#big-card {
  width: 407px;
  height: 660.3px;
  border-radius: 23.84px;

  box-shadow: 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01), 0px 99.3206px 174.804px rgba(68, 55, 0, 0.02), 0px 45.6875px 80.4497px rgba(68, 55, 0, 0.01), 0px 25.8233px 45.6875px rgba(68, 55, 0, 0.01), 0px 15.8913px 27.8098px rgba(68, 55, 0, 0.01), 0px 8.93885px 16.8845px rgba(68, 55, 0, 0.01), 0px 5.95923px 8.93885px rgba(68, 55, 0, 0.01), 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin-top: 39.73px;
}

.card-5-description {
  margin-top: 21.85px;
  margin-bottom: 85.42px;
}

@media screen and (max-width: 376px) {
  #features {
    height: 2117.68px;
  }

  #features-main-container {
    width: 89.33%;
    height: 2035.68px;
  }

  #features-title-container h4 {
    width: 335px;
    height: 32px;

    font-size: 24px;
    line-height: 32px;
  }

  #features-content-container {
    width: 100%;
    height: 1951.68px;
  
    display: flex;
    flex-direction: column !important;
  }

  #features-left {
    width: 335px;
  
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column !important;
  }

  .cards {
    width: 335px;
    height: 316px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #big-card {
    width: 335px;
    height: 574.72px;
  }

  .big-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    margin-top: 39.73px;
  }
}