header {
  width: 84.44%;
  height: 80px;
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  width: 378.58px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 133.58px;
  height: 32px;
}

#logo-image {
  width: 100%;
}

.navbar-items-container {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar-items {
  cursor: pointer;
  color: #1B1C20;
}

.header-buttons {
  width: 187px;
  height: 44px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login-button {
  font-family: 'Satoshi', sans-serif;

  width: 82px;
  color: #1B1C20;
}

#signup-button {
  font-family: 'Satoshi', sans-serif;

  width: 93px;
  border-radius: 8px;

  color: #FFFFFF;
  background-color: #0F0F14;
}