#hero-section {
  width: 84.44%;
  height: 767.5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 64px;
}

.hero-left-container {
  width: 489px;

  display: flex;
  flex-direction: column;
}

#discount-button {
  width: 265px;
  height: 32px;
  border-radius: 16px;

  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;

  display: flex;
  justify-content: space-between;
  align-items: center;


  background: #F9F5FF;
  color: #6941C6;
}

.discount-new {
  width: 55px;
  height: 24px;
  border-radius: 16px;

  text-align: center;

  background: #FFFFFF;

  margin-left: 4px;
}

.discount-phrase {
  margin-left: 12px;
  margin-right: 7.33px;
}

.hero-content {
  height: 261px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  margin-top: 16px;
}

.hero-content h3 {
  color: #1B1C20;

  height: 177px;

  font-size: 44px;
  font-weight: 700;
  line-height: 59.4px;
}

.hero-content p {
  color: #383A47;

  font-size: 20px;
  font-weight: 400;
  line-height: 30px;

  margin-top: 24px;
}

.blue-letters {
  color: #712FFF;
}

.hero-store-buttons {
  width: 372.2px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  margin-top: 32px;
}