#partners {
  width: 100%;
  height: 183.66px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#partners-container {
  width: 95%;
  height: 83.66px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#partners-text {
  color: #797B89;
  
  height: 28px;

  font-size: 15px;
  font-weight: 500;

  letter-spacing: -0.09px;
  line-height: 27.18px;
}

.partners-text-dark {
  color: #E7E7E7;
}

#partners-logos {
  width: 100%;
  height: 36.66px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 376px) {
  #partners {
    height: 150px;

    margin-top: 70px;
    margin-bottom: 83.47px;
  }

  #partners-container {
    height: 112px;
  }

  #partners-logos {
    width: 335px;
    height: 80px;
  }

  #partners-logos img {
    height: 18px;
  }

  #partners-logos img:nth-child(1) {
    width: 50px;
    height: 25px;
  }

  #partners-logos img:nth-child(2) {
    width: 93.76px;
  }

  #partners-logos img:nth-child(3) {
    width: 93.76px;
  }

  #partners-logos img:nth-child(4) {
    width: 106.79px;

    margin-left: 50px;
  }

  #partners-logos img:nth-child(5) {
    width: 82.6px;
    margin-right: 50px;
  }
}