#partners {
  width: 100%;
  height: 183.66px;
}

#partners-container {
  width: 88.88%;
  height: 83.66px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#partners-text {
  color: #797B89;
  
  height: 28px;

  font-size: 15px;
  font-weight: 500;

  letter-spacing: -0.09px;
  line-height: 27.18px;
}

.partners-text-dark {
  color: #E7E7E7;
}

#partners-logos {
  width: 88.88%;
  height: 36.66px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 376px) {
  #partners {
    height: 230.47px;

    margin-top: 70px;
    margin-bottom: 83.47px;
  }

  #partners-logos {
    display: flex;
    justify-content: space-around;
  }
}